* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.post_container {
  width: 100%;
  height: 100%;
  background: gray;
  text-align: center;
}

.card_post {
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
}

.card_post h3 {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.card_post p {
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

.post_btn {
  display: flex;
  margin: 10px;
  gap: 10px;
}

.one_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, grey, white, grey);
}

.onepost {
  width: 70%;
  text-align: center;
  padding: 10px;
  gap: 20px;
}

hr {
  margin: 20px;
}

.btn {
  width: 50%;
  padding: 10px;
  background: blue;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  margin: 10px;
  border: none;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
  background: green;
}

.button {
  width: 30%;
  background: red;
  color: white;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid black;
}

.button:hover {
  background: orange;
}